.navbar-toggler {
    border: none;
}

.form-control {
    border-radius: 25px;
}

.btn {
    border-radius: 1.5rem;
    padding: 9px 20px;
}

#meal-container {
    display: grid;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.fa-check-square {
    color: orangered;
}

li {
    list-style: none;
}

#meal-info .card h2 {
    text-align: center;
}

#meal-info .card h5 {
    margin-left: 25px;
}

@media only screen and (max-width: 600px) {
    #meal-container {
        margin-right: 100px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    #meal-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 992px) {
    #meal-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    #meal-container {
        grid-template-columns: repeat(4, 1fr);
    }
}